<hr></hr>
<div class="container"><h2 style="text-align : center">Super projet</h2></div>

<div id="exTab2" class="container">
<ul class="nav nav-tabs">
      <li class="active">
        <a  href="#presentation" data-toggle="tab">Présentation</a>
      </li>
      <li><a href="#menu" data-toggle="tab">Menu</a>
      </li>
      <li><a href="#cuisinier" data-toggle="tab">Cuisiniers</a>
      </li>
    </ul>

      <div class="tab-content ">
        <div class="tab-pane active" id="presentation">
          <h3> Un super resto </h3>
        </div>
        <div class="tab-pane" id="menu">
          <h3> Des ingrédients choisi avec amour chez des producteurs passionnés </h3>
        </div>
        <div class="tab-pane" id="cuisinier">
          <h3> Duy vous fait des super plats avec peu d'huile, peu de sel et peu de sucre</h3>
        </div>
      </div>
  </div>

<!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
