<header class="navbar navbar-fixed-top navbar-inverse">
 <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">Home</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Index</a>
      </li>
      <li>
        <%= if logged_in?
          link_to "Reponse1", '/reponse' , class: "nav-link"
          end %>
      </li>
      <li class="nav-item">
        <%= if logged_in?
          link_to "Logout1", '/logout', method: :delete, class: "nav-link", data: { confirm: "T'es sûr de toi ?" }
         else
           link_to "Login", '/login', class: "nav-link"
         end %>
      </li>
    </ul>
  </div>
</nav>

</header>


