.checkr{
  position: absolute;
  left: 64px;
  top: 57px;
  width: 130px;
  height: 33px;
  background-color: green;
}

.product{
  position: absolute;
  width: 104px;
  height: 109px;
  left: 228px;
  top: 21px;
  background-color: green;
}

.industries{
  position: absolute;
  width: 121px;
  height: 109px;
  left: 347px;
  top: 21px;
  background-color: green;
}

.resources{
  position: absolute;
  width: 122px;
  height: 109px;
  left: 482px;
  top: 21px;
  background-color: green;
}

.iamanapplicant{
  position: absolute;
  width: 113px;
  height: 19px;
  left: 841px;
  top: 16px;
  background-color: green;
}

.apidocs{
  position: absolute;
  width: 71px;
  height: 19px;
  left: 983px;
  top: 16px;
  background-color: green;
}

.aboutus{
  position: absolute;
  width: 71px;
  height: 19px;
  left: 1082px;
  top: 16px;
  background-color: green;
}


.careers{
  position: absolute;
  width: 51px;
  height: 19px;
  left: 1171px;
  top: 16px;
  background-color: green;
}

.login{
  position: absolute;
  width: 103px;
  height: 57px;
  left: 935px;
  top: 50px;
  background-color: green;
}

.getstarted{
  position: absolute;
  width: 167px;
  height: 52px;
  left: 1052px;
  top: 54px;
  background-color: green;
}

.hire{
  position: absolute;
  width: 507px;
  height: 88px;
  left: 64px;
  top: 254px;
  background-color: green;
}

.video{
  position: absolute;
  width: 600px;
  height: 627px;
  left: 621px;
  top: 149px;
  background-color: green;
}

.checkrprovides{
  position: absolute;
  width: 457px;
  height: 56px;
  left: 64px;
  top: 352px;
  background-color: green;
}

.explorenow{
  position: absolute;
  width: 219px;
  height: 86px;
  left: 64px;
  top: 457px;
  background-color: green;
}

.morethan{
  position: absolute;
  width: 1157px;
  height: 35px;
  left: 64px;
  top: 832px;
  background-color: green;
}


.instacart{
  position: absolute;
  width: 141px;
  height: 28px;
  left: 158px;
  top: 974px;
  background-color: blue;
}

.grubhub{
  position: absolute;
  width: 154px;
  height: 54px;
  left: 322px;
  top: 962px;
  background-color: blue;
}

.uber{
  position: absolute;
  width: 142px;
  height: 36px;
  left: 501px;
  top: 971px;
  background-color: blue;
}

.postmates{
  position: absolute;
  width: 142px;
  height: 142px;
  left: 655px;
  top: 924px;
  background-color: blue;
}

.zenefits{
    position: absolute;
  width: 142px;
  height: 31px;
  left: 822px;
  top: 973px;
  background-color: blue;
}

.handy{
  position: absolute;
  width: 167px;
  height: 78px;
  left: 976px;
  top: 950px;
  background-color: blue;
}
