<div class="container">
  <h2>Show user</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Pseudo</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @user.pseudo %></td>
        <td><%= @user.email %></td>
       <td><%= link_to 'Edit', edit_user_path(@user) %></td>
      </tr>
    </tbody>
  </table>
</div>
