<h1>Home#home</h1>
<div class="container">
  <div class="row">
    <div class="col-md-12"  style="border: 1px solid blue">Premier niveau avec 12 colonnes
    <div class="row">
      <div class="col-md-8"  style="border: 1px solid green">Second niveau avec 8 colonnes
      <div class="row">
        <div class="col-md-4"  style="border: 1px solid orange">Troisième niveau avec 4 colonnes</div>
        <div class="col-md-6 col-md-offset-2"  style="border: 1px solid black">*Troisième niveau avec 6 colonnes
        <div class="row">
          <div class="col-md-3 col-md-offset-1"  style="border: 1px solid grey" >Quatrième niveau avec 3 colonnes</div>
          <div class="col-md-5 col-md-offset-1"  style="border: 1px solid pink" >Quatrième niveau avec 5 colonnes</div>
          <div class="col-md-5 col-md-offset-1"  style="border: 1px solid pink" > %%Quatrième niveau avec 5 colonnes</div>
        </div>
        </div>
      </div>
      </div>
      <div class="col-md-4">Second niveau avec 4 colonnes</div>
    </div>
  </div>
</div>

<h2> Bootstrap </h2>
<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">
  <div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
</div>

<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row">
  <div class="col-xs-6 col-md-4" style="border: 1px solid pink">.col-xs-6 .col-md-4</div>
  <div class="col-xs-6 col-md-4" style="border: 1px solid pink" >.col-xs-6 .col-md-4</div>
  <div class="col-xs-6 col-md-4" style="border: 1px solid pink">.col-xs-6 .col-md-4</div>
</div>

<!-- Columns are always 50% wide, on mobile and desktop -->
<div class="row">
  <div class="col-xs-6">.col-xs-6</div>
  <div class="col-xs-6">.col-xs-6</div>
</div>


<h1> Push Pull </h1>
<div class="row">
  <div class="col-md-9 " style="border: 1px solid pink">.col-md-9 </div>
  <div class="col-md-3 col-md-pull-1" style="border: 1px solid pink">.col-md-3 .col-md-pull-1</div>
</div>
<div class="row">
  <div class="col-md-9" style="border: 1px solid pink">.col-md-9 </div>
  <div class="col-md-3" style="border: 1px solid pink">.col-md-3 </div>
</div>
<div class="row">
  <div class="col-md-9 col-md-push-2" style="border: 1px solid pink">.col-md-9 .col-md-push-2</div>
  <div class="col-md-3" style="border: 1px dotted black">.col-md-3</div>
</div>
<div class="row">
  <div class="col-md-9 col-md-offset-2" style="border: 1px solid pink">.col-md-9 offset 2</div>
  <div class="col-md-3" style="border: 1px dotted black">.col-md-3 </div>
</div>
